body{
    margin-top: 100px;
}
ul{
    padding: 0;
    margin-bottom: 0;
    align-items: center;
}
ul li{
    border: 2px solid grey;
    list-style:none;
    padding: 5px;
    width: 600px;
}
h1{
    text-align: center;
}
input{
    border: none;
    width: 100%;
}
.icono{
    color: red;
    float: right;
    cursor: pointer;
}
.container {
  width: 600px;
  margin: 0 auto;
}